
<h1>Página de estadísticas</h1>

<p>Número de preguntas <%= quizes %></p>
<p>Número de comentarios totales <%= comentarios %></p>
<p>Número medio de comentarios por pregunta <%= comentariosMedia %></p>
<p>Número de preguntas sin comentarios <%= preguntasSinComentarios %></p>
<p>Número de preguntas con comentarios <%= preguntasConComentarios %></p>

